doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Amelia Emergency Squad

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Amelia Emergency Squad
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold Amelia Emergency Squad
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.text-white-75.mb-5
                            | Serving Amelia County citizens since 1958
                        a.btn.btn-primary.btn-xl(href='#about') Find Out More

        // About
        section#about.page-section.bg-primary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 About
                        hr.divider.divider-light
                        p.text-white-75.mb-4
                            | Amelia Emergency Squad Inc. is a non-profit Volunteer Organization that is contracted to the Amelia County 911 system. If you are having an emergency PLEASE CALL 911 IMMEDIATELY, it is possible for the building to be empty at any point in the day due to all crews being on calls. Calling 911 will get help to you in a more timely manner either through mutual aid with a surrounding county or if a crew can be made up of volunteers not on duty at that point in time.
                        a.btn.btn-light.btn-xl(href='#services') Get Started!

        // Services
        section#services.page-section
            .container.px-4.px-lg-5
                h2.text-center.mt-0 At Your Service
                hr.divider
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-hand-thumbs-up-fill.fs-1.text-primary
                            h3.h4.mb-2 Advanced Life Support
                            p.text-muted.mb-0 All of our ambulances can provide advanced life support to ensure the highest level of prehospital care.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi.bi-emoji-smile.fs-1.text-primary
                            h3.h4.mb-2 County-Wide EMS
                            p.text-muted.mb-0 Amelia Emergency Squad is the only 911 ambulance agency for the entire county.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-globe.fs-1.text-primary
                            h3.h4.mb-2 Driven by Volunteers
                            p.text-muted.mb-0 The executive board and many of the providers serve on a volunteer-basis
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.bi-heart.fs-1.text-primary
                            h3.h4.mb-2 1000+ 911 Calls Per Year
                            p.text-muted.mb-0 In the year of 2020, AES responded to over 1,700 911 calls.

        // Portfolio
        #portfolio
            .container-fluid.p-0
                .row.g-0
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/AESlegoman.jpg', title='Provider')
                            img.img-fluid(src='assets/img/portfolio/fullsize/AESlegoman.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Let’s get you EMT certified and you can be a PROVIDER 
                                .project-name
                                    | Are you the type to be in the middle of the action? While you’re working on your certification, we’ll keep you in the back of the truck as an observer as you begin your journey with us.
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/AMELIA3.jpg', title='Driver')
                            img.img-fluid(src='assets/img/portfolio/fullsize/AMELIA3.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Become a driver with training that requires only one weekend
                                .project-name
                                    | Want to help in a quick and easy way? We’ll help you get your Emergency Vehicle Operators License ((FOR FREE)) and have you behind the wheel of our ambulance in no time.
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/ameliaMAP1.jpg', title='Support Member')
                            img.img-fluid(src='assets/img/portfolio/fullsize/ameliaMAP1.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Become a SUPPORT MEMBER of AES
                                .project-name
                                    | Is the medical field not your thing, but you still have a passion to help the citizens of Amelia? We always need assistance with recruitment, building maintenance, IT and so much more. We’d love to have your help!
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/jr.jpg', title='Junior Squad')
                            img.img-fluid(src='assets/img/portfolio/fullsize/jr.jpg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | The JUNIOR SQUAD was established in the late 1980s
                                .project-name
                                    | Today, we have many members between the ages of 16-18 years old that actively volunteer to serve this community with Amelia Emergency Squad. Contact Junior Advisor Marie Willet at (804)295-6087 for more information.
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/exec.jpeg', title='Executive Board & Officers')
                            img.img-fluid(src='assets/img/portfolio/fullsize/exec.jpeg', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Become an OFFICER with the Amelia Emergency Squad! 
                                .project-name
                                    | Our leaders of the squad and handle the behind the scenes action. The current executive board consists of  President Jamare Dickerson, Operations Officer Melissa Watley, Treasurer Linda Kirkman, Secretary Marie Willet and Member at Large Selena Yanoska. Officer rolls include Rolling Equipment, Supplies, Training, Recruitment and Retention and more. 
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/aux1.jpg', title='Auxiliary Squad')
                            img.img-fluid(src='assets/img/portfolio/fullsize/aux1.jpg', alt='...')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Another great way to give back - join our AUXILIARY SQUAD
                                .project-name
                                    | These awesome women and men support AES by fundraising at local events, providing concession assistance at the local VFW’s Friday night Bingo, and being a constant asset to us. The Auxiliary Squad has been serving the community for the past 50 years. Contact President Mary Alice Williams at (804)381-9510 for more information.

        //- // Call to action
        //- section.page-section.bg-dark.text-white
        //-     .container.px-4.px-lg-5.text-center
        //-         h2.mb-4 Free Download at Start Bootstrap!
        //-         a.btn.btn-light.btn-xl(href='https://startbootstrap.com/theme/creative/') Download Now!

        // Contact
<p><h1>Sign up for EMS Care Today!</h1></p>
<center>
    <iframe
      id="JotFormIFrame-211406528782154"
      title="EMS Care Subscription"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allowfullscreen="true"
      allow="geolocation; microphone; camera"
      src="https://form.jotform.com/211406528782154"
      frameborder="0"
      style="
      min-width: 100%;
      height:539px;
      border:none;"
      scrolling="no"
    >
    </iframe>
    <script type="text/javascript">
      var ifr = document.getElementById("JotFormIFrame-211406528782154");
      if (ifr) {
        var src = ifr.src;
        var iframeParams = [];
        if (window.location.href && window.location.href.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
        }
        if (src && src.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
          src = src.substr(0, src.indexOf("?"))
        }
        iframeParams.push("isIframeEmbed=1");
        ifr.src = src + "?" + iframeParams.join('&');
      }
      window.handleIFrameMessage = function(e) {
        if (typeof e.data === 'object') { return; }
        var args = e.data.split(":");
        if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
        if (!iframe) { return; }
        switch (args[0]) {
          case "scrollIntoView":
            iframe.scrollIntoView();
            break;
          case "setHeight":
            iframe.style.height = args[1] + "px";
            break;
          case "collapseErrorPage":
            if (iframe.clientHeight > window.innerHeight) {
              iframe.style.height = window.innerHeight + "px";
            }
            break;
          case "reloadPage":
            window.location.reload();
            break;
          case "loadScript":
            if( !window.isPermitted(e.origin, ['jotform.com', 'jotform.pro']) ) { break; }
            var src = args[1];
            if (args.length > 3) {
                src = args[1] + ':' + args[2];
            }
            var script = document.createElement('script');
            script.src = src;
            script.type = 'text/javascript';
            document.body.appendChild(script);
            break;
          case "exitFullscreen":
            if      (window.document.exitFullscreen)        window.document.exitFullscreen();
            else if (window.document.mozCancelFullScreen)   window.document.mozCancelFullScreen();
            else if (window.document.mozCancelFullscreen)   window.document.mozCancelFullScreen();
            else if (window.document.webkitExitFullscreen)  window.document.webkitExitFullscreen();
            else if (window.document.msExitFullscreen)      window.document.msExitFullscreen();
            break;
        }
        var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
        if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
          var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
          iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
        }
      };
      window.isPermitted = function(originUrl, whitelisted_domains) {
        var url = document.createElement('a');
        url.href = originUrl;
        var hostname = url.hostname;
        var result = false;
        if( typeof hostname !== 'undefined' ) {
          whitelisted_domains.forEach(function(element) {
              if( hostname.slice((-1 * element.length - 1)) === '.'.concat(element) ||  hostname === element ) {
                  result = true;
              }
          });
          return result;
        }
      }
      if (window.addEventListener) {
        window.addEventListener("message", handleIFrameMessage, false);
      } else if (window.attachEvent) {
        window.attachEvent("onmessage", handleIFrameMessage);
      }
      </script></center>

        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0 Let's Get In Touch!
                        hr.divider
                        p.text-muted.mb-5
                            | Ready to learn more about becoming a hero in your hometown? Send us a messages and we will get back to you as soon as possible!
                .row.gx-4.gx-lg-5.justify-content-center.mb-5
                    .col-lg-6

                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-4.text-center.mb-5.mb-lg-0
                        i.bi-phone.fs-2.mb-3.text-muted
                        div (804) 561-3336
                    .col-lg-4.text-center.mb-5.mb-lg-0
                        a(href='https://www.facebook.com/ameliarescuesquad/')
                            i.bi.bi-facebook.fs-2.mb-3.text-muted
                        a(href='https://www.facebook.com/ameliarescuesquad/')
                            div Squad Facebook
                    .col-lg-4.text-center.mb-5.mb-lg-0
                        i.bi.bi-envelope.fs-2.mb-3.text-muted
                        div office@ameliarescue.org

        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright &copy; 2021 - Amelia Emergency Squad Incorporated

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // Load Facebook SDK for JavaScript
        // fb-root
        script.
            window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v10.0'
            });
            };
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            // Your Chat Plugin code
        .fb-customerchat(attribution='setup_tool' page_id='355203328327745')

